@{
    var module = "Configuration";
    var activePage = "Portal Setting";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">@activePage</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">@module</a></li>
                            <li class="breadcrumb-item active">@activePage</li>
                        </ol>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
</div>