@page
@model ForgotPasswordModel
@{
    Layout = null;
    var modelCredential = Model.forgotPasswordDto;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Barangay Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Plugins css -->
    <link asp-append-version="true" href="../plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link asp-append-version="true" href="../plugins/huebee/huebee.min.css" rel="stylesheet" type="text/css">
    <link asp-append-version="true" href="../plugins/timepicker/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link asp-append-version="true" href="../plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <!-- App css -->
    <link asp-append-version="true" href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link asp-append-version="true" href="assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link asp-append-version="true" href="assets/css/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link asp-append-version="true" href="../plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css">
    <link asp-append-version="true" href="assets/css/app.min.css" rel="stylesheet" type="text/css">

    <link asp-append-version="true" href="~/assets/css/theme-yellow.css" rel="stylesheet" />
</head>

<body class="theme">
    <div class="container">
        <div class="login-panel">
            <div class="row">
                <div class="col-6">
                    <div class="panel-left">
                        <div class="brand-logo">
                            <img src="~/assets/images/preview.jpg" /><br />
                            <span class="header-text">Barangay Management System</span><br />
                            <span class="sub-text">Pinagkuartelan Pandi Bulacan</span>
                        </div>
                        <div class="form-container" style="padding:50px;">
                            <h5>Forgot Password</h5>
                            <div class="alert alert-info">
                                <span>Please enter you username and email address.</span>
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label">Username</label>
                                <input type="text" af-for="@modelCredential.Username" />
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label">Email</label>
                                <input type="password" af-for="@modelCredential.Email" />
                            </div>
                            <div class="button-container">
                                <div class="row">
                                    <div class="col-12 mt-3">
                                        <button type="submit" id="btn-signin" class="btn btn-primary" style="width:100%;">Submit</button>
                                    </div>
                                    <div class="col-12 mt-3 align-center">
                                        <span class="text-normal"><a href="/Index" style="color:#2187C3">Back to login</a></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="panel-right">
                        <img src="~/assets/images/main-login.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery  -->
    <script asp-append-version="true" src="assets/js/jquery.min.js"></script>
    <script asp-append-version="true" src="assets/js/bootstrap.bundle.min.js"></script>
    <script asp-append-version="true" src="assets/js/metismenu.min.js"></script>
    <script asp-append-version="true" src="assets/js/waves.js"></script>
    <script asp-append-version="true" src="assets/js/feather.min.js"></script>
    <script asp-append-version="true" src="assets/js/simplebar.min.js"></script>
    <script asp-append-version="true" src="assets/js/moment.js"></script>
    <script asp-append-version="true" src="../plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Plugins js -->

    <script asp-append-version="true" src="../plugins/select2/select2.min.js"></script>
    @*<script asp-append-version="true" src="../plugins/huebee/huebee.pkgd.min.js"></script>*@
    <script asp-append-version="true" src="../plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
    <script asp-append-version="true" src="../plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script asp-append-version="true" src="../plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

    <script asp-append-version="true" src="assets/pages/jquery.forms-advanced.js"></script>
</body>

</html>